SCHEME STDERR

CUSTOMVARIABLE TotalSampleSize

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/WTCCC2_results4

MARKER SNP
ALLELE A1 A2
EFFECT log(OR)
STDERR LOG(OR)_SE
LABEL TotalSampleSize as N
PROCESS input_results/BSTOP_results4

MARKER ID
ALLELE alleleB alleleA
EFFECT frequentist_add_beta_1
STDERR frequentist_add_se_1
LABEL TotalSampleSize as N
PROCESS input_results/MANC_results4

MARKER ID
ALLELE ALLELE_B ALLELE_A
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/SCOT_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/KIEL19_results4

MARKER ID
ALLELE ALLELE_B ALLELE_A
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/ERLANG_results4

MARKER ID
ALLELE A1 AX
EFFECT log(OR)
STDERR LOG(OR)_SE
LABEL TotalSampleSize as N
PROCESS input_results/EST_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/PsA_GWAS_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/Exomechip_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/Genizon_Shared_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/MichiganGSA_results4

MARKER ID
ALLELE ALLELE_B ALLELE_A
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/UCSF_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/CASP_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/TorontoGSA_results4

MARKER ID
ALLELE A1 A2
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/NF_results4

# === Interim analysis: case-control datasets only ===
OUTFILE output/META2019_final_v4_casecontrol_ .tbl
ANALYZE HETEROGENEITY

MARKER ID
ALLELE EA NEA
EFFECT BETA
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/HUNT_results4

MARKER SNP
ALLELE A1 AX
EFFECT log(OR)
STDERR LOGOR_SE
LABEL TotalSampleSize as N
PROCESS input_results/UKB_results4

MARKER ID
ALLELE A1 AX
EFFECT log(OR)
STDERR SE
LABEL TotalSampleSize as N
PROCESS input_results/ESTBB_results4

# === Full analysis ===
OUTFILE output/META2019_final_v4_all_ .tbl
ANALYZE HETEROGENEITY

QUIT
